<!DOCTYPE HTML>
<html>
	<head>
		<title>Formatup - Catalogue des formations</title>
		<meta name="description=" content="Catalogue de nos formations professionelles en webmarketing, technologies numériques, creativité, open innovation...">

		@@include('head2.html')
	</head>
	<body>
		<!-- Page Wrapper -->
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">Formatup</a></h1>
				@@include('nav.html')


				<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us11.list-manage.com","uuid":"263c9551b02f4af4d2c04d7b9","lid":"da668ceabc"}) })</script>


				</header>

			<!-- Main -->
				<article id="main">
					<header>
						<h2>Nos Offres</h2>
						<p>Notre catalogue de formation</p>
					</header>

					<section class="wrapper style5">
						<div class="inner">

							<section>
								<h4>Publié</h4>

								<h5></h5>
								<div class="table-wrapper">
								{% set optionsTbl = {'etat': 'P', 'categorie':'webmarketing'} %}
								{% include "./incl/table.html" with options %}
								</div>
							</section>


							<section>
								<h4>Communication numérique</h4>
								<h5></h5>
								<div class="table-wrapper">
								{% set optionsTbl = {'etat': 'L', 'categorie':'webmarketing'} %}
								{% include "./incl/table.html" with options %}
								</div>
							</section>
						<hr />

						<section>
								<h4>Entrepreneuriat et gestion de projet</h4>
								<h5></h5>
								<div class="table-wrapper">
									<table>
								{% set optionsTbl = {'etat': 'L', 'categorie':'intraprenariat'} %}
								{% include "./incl/table.html" with options %}
									</table>
								</div>
							</section>
						<hr />

						<section>
								<h4>Outils technologiques</h4>
								<h5></h5>
								<div class="table-wrapper">
								{% set optionsTbl = {'etat': 'L', 'categorie':'tech'} %}
								{% include "./incl/table.html" with options %}
								</div>
							</section>
						<hr />

						<section>
								<h4>Créativité & culture numérique</h4>
								<h5></h5>
								<div class="table-wrapper">
								{% set optionsTbl = {'etat': 'L', 'categorie':'culture'} %}
								{% include "./incl/table.html" with options %}


								</div>
							</section>
						<hr />
						<section>
								<h4>Ecosystèmes d'innovation</h4>
								<h5>Destiné aux décisionnaires publics et privés voulant travailler en synergie avec les écosystèmes d'innovation</h5>
								<div class="table-wrapper">
								{% set optionsTbl = {'etat': 'L', 'categorie':'ecosystem'} %}
								{% include "./incl/table.html" with options %}
								</div>
							</section>

						<hr />

						</div>
					</section>
					<!-- colorbox -->
				@@include('contactform.html')

				</article>

				<!-- Footer -->
				@@include('footer.html')

			</div>

		<!-- Scripts -->
		@@include('scripts.html')

	</body>
</html>